@media only screen and (max-width: 1205px){
  /* For mobile phones: */
  .App {
    text-align: center;
    background-image: url(./img/bg-home-mobile0.jpg); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .logoBox {
    position: fixed;
    top: 33%;
    left: 32%;
  }

  .homeTitle {
    position: fixed;
    top: 50%;
    left: 3%;
  }
  
}

@media only screen and (min-width:1206px){
  .App {
    text-align: center;
    background-image: url(./img/bg-home.jpg);
    background-size: 100%;
  }

  .logoBox {
    position: fixed;
    top: 16%;
    left: 39.9%;
  }

  .homeTitle {
    position: fixed;
    text-align: center;
    top: 56%;
    left: 38.2%;
  }

}


.App-logo {
  height: 40vmin;
  pointer-events: none;
  z-index: 5;
  position: fixed;
}

.App-logo2 {
  height: 40vmin;
  pointer-events: none;
  z-index: 10;
  position: absolute
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 30s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: -apple-system, 'Roboto', sans-serif;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.buttonLogin {
  color: black !important;
  text-decoration: none !important;
}
