@media only screen and (max-width: 1205px){
  /* For mobile phones: */
  .App {
    text-align: center;
    background-image: url(./img/bg-home-mobile0.jpg); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
}

@media only screen and (min-width:1206px){
  .App {
    text-align: center;
    background-image: url(./img/bg-home.jpg);
    background-size: 100%;
  }
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
  z-index: 5;
}

.App-logo2 {
  height: 40vmin;
  pointer-events: none;
  z-index: 10;
  position: absolute;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 30s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
